
body {
	color: white;
	font-size: 12px;
}

p {
	margin: 0!important;
	padding: 0;
	color: white;
	font-size: 12px;
}

.big {
	min-height: 600px!important;
}

.small{
	min-height: 80px!important;
}

.full-width{
	width: 100%;
}


/* Ð²ÐµÑ€Ñ…Ð½ÑÑ ÑÑ‚Ñ€Ð¾ÐºÐ° Ñ Ð´Ð²ÑƒÐ¼Ñ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ°Ð¼Ð¸ */

.leftcolumn{
	background: url("img/placeholder.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.rightcolumn{
	background: url("img/placeholder_top_right.png") no-repeat;
	background-size: cover;
	background-position: center;
}



.toprow_leftcolumn_logo{
	width: 100%;
	min-height: 70px;
	background: url("img/logo.png") no-repeat;
	background-size: 70px 100%;
	background-position: center;
}

.link_img {
	width: 40px;
	height: 30px;
    background: url("img/item.png") no-repeat;
	background-size: cover;
	margin: 5px;

}

.link_circle {
	width: 30px;
	height: 30px;
    background: url("img/circle_logo.png") no-repeat;
	background-size: cover;
	margin: 5px;
}

.link_img:hover+.link_circle{
	  background: url("img/circle_logo_white.png") no-repeat;
}

.filter {
	filter: brightness(80%);
		}

.filter:before {
  content: "";
  min-height: 600px;
  background: #5ecfff no-repeat;
  opacity: 0.4;
  position: absolute;
  width:  100%;
  z-index: -1;
}


.facebook{
	background: url("img/facebook_logo.png") no-repeat;
	background-size: contain;
}

.twitter{
	background: url("img/twitter_logo.png") no-repeat;
	background-size: contain;
}

.google{
	background: url("img/instagramm_logo.png") no-repeat;
	background-size: contain;
}

.youtoobe{
	background: url("img/instagramm_logo.png") no-repeat;
	background-size: contain;
}

.logo_social {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.form {
	width: 300px;
	height: 300px;
	background: grey;
}


/*  Ð¼ÐµÐ½ÑŽ Ð²ÐµÑ€Ñ…Ð½ÐµÐµ Ð½Ð° Ð²ÑÑŽ ÑÑ‚Ñ€Ð¾ÐºÑƒ */

.link_toprowmenu {
	color: black;
	margin: 5px;
	text-decoration: none;
}

.link_toprowmenu:hover{
	line-height: 20px;
	color: blue;
	text-decoration: none;
}

.logo_toprowmenu{
display: block;
width: 100px;
height: 20px;
background: url("img/menu_logo.png") no-repeat;
background-size: contain;
}


/* ÑÑ€ÐµÐ´Ð½Ð¸Ð¹ Ð±Ð»Ð¾Ðº ÑÐ¾ ÑÐ»Ð°Ð¹Ð´ÐµÑ€Ð¾Ð¼ */

.slider {
	height: 450px;
	background-color: darkgrey;
   }



.block {
	background-color: #f1eaea;
	height: 150px;
	position: relative;
	z-index: 1;
}

.small-block{
	width: 20%;
	height: 250px;
	position: absolute;
	z-index: 2;
	background-color: none;
	bottom: 110px;
}

.one-block{
	left: 15%;
}

.three-block {
	right: 15%;
}

.block-img-two {
height: 70%;
background: url("img/block-logo-two.png") no-repeat;
background-size: cover;
background-position: center;
}

.block-img-three {
height: 70%;
background: url("img/block-logo-three.png") no-repeat;
background-size: cover;
background-position: center;
}

.block-content{
	height: 70%;
	background-color: white;
}

.block-footer{
	height: 15%;
	background-color: black;
	box-shadow: 0 5px 15px -6px #606060;
	color: white;
	font-size: 12px!important;
    padding: 5px;
}

.white{
  background-color: #f1eaea;
}

.block-menu {
 height: 12%;
 width: 90%;
}

.nav {
	height: 100%;
}

.block-inner{
	height: 100%;
	width: 100%;
}

.block-nav {
	padding: 0!important;
	margin: 0!important;
	color: white;
	width: 25%;
	height: 100%;
	background-size: contain!important;
	position: center center!important;
}

.active {
	border-color: white!important;
}

.no-active:hover {
	background-color: darkblue!important;
}

.no-active{
	background-color: #1aa5ff!important;
}

.block-menu-img-one {
	background: url("img/item.png") no-repeat;
}

.block-menu-img-two {
	background: url("img/item.png") no-repeat;
}

.block-menu-img-three {
	background: url("img/item.png") no-repeat;
}

.block-menu-img-four {
	background: url("img/item.png") no-repeat;
}

.footer-btn{
	padding: 0!important;
	display: block!important;
    border-radius: 0!important;
    background-color: #d4001b;
    color: white;
    vertical-align: middle;
    line-height: 1px;
    font-size: 10px!important;
    margin-left: 10px;
}

.price {
	color: green;
}

.arrow{
	display: block;
	width: 20px;
	height: 20px;
	background-size: contain!important;
	background-position: center center!important;
	background: url("img/next.jpg") no-repeat;
}

.star{
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
}

.star>a{
	display: block;
	height: 10px;
	background-size: contain!important;
	background-position: center center!important;
	background: url("img/next.jpg") no-repeat;
}

.stars, .label{
	padding: 5px;
}