
body {
	color: white;
	font-size: 12px;
}

p {
	margin: 0!important;
	padding: 0;
	color: white;
	font-size: 12px;
}

.big {
	min-height: 600px!important;
}

.small{
	min-height: 80px!important;
}

.full-width{
	width: 100%;
}


/* верхняя строка с двумя колонками */

.leftcolumn{
	background: url("img/placeholder.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.rightcolumn{
	background: url("img/placeholder_top_right.png") no-repeat;
	background-size: cover;
	background-position: center;
}



.toprow_leftcolumn_logo{
	width: 100%;
	min-height: 70px;
	background: url("img/logo.png") no-repeat;
	background-size: 70px 100%;
	background-position: center;
}

.link_img {
	width: 40px;
	height: 30px;
    background: url("img/item.png") no-repeat;
	background-size: cover;
	margin: 5px;

}

.link_circle {
	width: 30px;
	height: 30px;
    background: url("img/circle_logo.png") no-repeat;
	background-size: cover;
	margin: 5px;
}

.link_img:hover+.link_circle{
	  background: url("img/circle_logo_white.png") no-repeat;
}

.filter {
	filter: brightness(80%);
		}

.filter:before {
  content: "";
  min-height: 600px;
  background: #5ecfff no-repeat;
  opacity: 0.4;
  position: absolute;
  width:  100%;
  z-index: -1;
}


.facebook{
	background: url("img/facebook_logo.png") no-repeat;
	background-size: contain;
}

.twitter{
	background: url("img/twitter_logo.png") no-repeat;
	background-size: contain;
}

.google{
	background: url("img/instagramm_logo.png") no-repeat;
	background-size: contain;
}

.youtoobe{
	background: url("img/instagramm_logo.png") no-repeat;
	background-size: contain;
}

.logo_social {
	width: 20px;
	height: 20px;
	margin: 5px;
}

.form {
	width: 300px;
	height: 300px;
	background: grey;
}


/*  меню верхнее на всю строку */

.link_toprowmenu {
	color: black;
	margin: 5px;
	text-decoration: none;
}

.link_toprowmenu:hover{
	line-height: 20px;
	color: blue;
	text-decoration: none;
}

.logo_toprowmenu{
display: block;
width: 100px;
height: 20px;
background: url("img/menu_logo.png") no-repeat;
background-size: contain;
}


/* средний блок со слайдером */

.slider {
	height: 70%;
	background-color: darkgrey;
   }



.block {
	height: 20%;
	position: relative;
	z-index: 1;
}

.small-block{
	width: 20%;
	height: 250px;
	position: absolute;
	z-index: 2;
	background-color: none;
}

.one-block{
	left: 10%;
	bottom: 80px;
}

.three-block {
	right: 10%;
	bottom: 80px;
}

.two-block {
	bottom: 80px;
}

.block-img-two {
height: 70%;
background: url("img/block-logo-two.png") no-repeat;
background-size: cover;
background-position: center;
}

.block-img-three {
height: 70%;
background: url("img/block-logo-three.png") no-repeat;
background-size: cover;
background-position: center;
}

.block-form{
	height: 70%;
	background-color: white;
}

.block-footer{
	height: 15%;
	background-color: black;
}

.block-menu {
 height: 15%;
 width: 90%;
}

.block-nav {
	display: block;
	background-color: #1aa5ff!important;
	color: white;
	border: 1px solid #8585ff;
	font-size: 9px!important;
	width: 25%;
	height: 100%;
}

.block-nav:hover{
	background-color: darkblue!important;
}

.block-nav:active{
	background-color: white!important;
}

.block-menu-img-one {
	background: url("img/item.png") no-repeat;
	background-size: contain;
	position: center center;
	}
.block-menu-img-two {
    background: url("img/item.png") no-repeat;
	background-size: contain;
	position: center center;
	}

.block-menu-img-three {
    background: url("img/item.png") no-repeat;
	background-size: contain;
	position: center center;
	}

.block-menu-img-four {
    background: url("img/item.png") no-repeat;
	background-size: contain;
	position: center center;
	}